@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #F9F7F7;
    --color-secundario: #112D4E;
    --color-terciario: #3F72AF;
    --color-hover: #DBE2EF;

    --fuente-texto: "Montserrat", serif;
    --fuente-titulo: "Krona One", serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 100px;
}

.header__menu__link{
    font-family: var(--fuente-texto);
    font-size: 32px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion{
    padding: 6% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.presentacion__contenido__titulo{
    font-family: var(--fuente-titulo);
    font-size: 36px;
    text-align: justify;
    line-height: 1.5;
}

.titulo-destaque{
    color: var(--color-terciario);
}

.presentacion__contenido__texto{
    font-family: var(--fuente-texto);
    font-size: 28px;
    text-align: justify;
    line-height: 1.5;
}

.presentacion__contenido__texto a{
    color: var(--color-terciario);
    text-decoration: none;
}


.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-titulo);
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces__link{
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-texto);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}

.presentacion__imagen {
    width: 615px;
    height: 615px;
    background-size: cover; 
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 5px solid var(--color-terciario); 
}

.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-texto);
    font-size: 24px;
    font-weight: 400;
}